# SPDX-License-Identifier: MIT
#
# Example of a snapshot of configuration file
#
{{ ansible_managed | comment }}
{{ "system_role:snapshot" | comment(prefix="", postfix="") }}
[foo]
foo = {{ template_foo }}
bar = {{ template_bar }}
